<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid collapsable-nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="main-nav-bar" class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'http://104.131.137.217/', class: 'navbar-brand' do %>
        <%= image_tag 'kr_logo.png' %>
      <% end -%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse collapsable-nav" id="bs-example-navbar-collapse-1">
      <ul id="navbar_links" class="navbar-nav navbar-right">
        <li id="products-link" class="navbar_links_li" data-hook>
          <%= link_to 'Products', spree.products_path, class: 'nav_links' %>
        </li>
        <li id="home-link" class="navbar_links_li" data-hook>
          <%= link_to 'FAQ', 'http://104.131.137.217/test/', class: 'nav_links' %>
        </li>
        <li id="home-link" class="navbar_links_li" data-hook>
          <%= link_to 'Shop', spree.root_path, class: 'nav_links' %>
        </li>
        <% if current_spree_user %>
          <li id="logout-link" class="navbar_links_li" data-hook>
            <%= link_to Spree.t(:logout), spree.logout_path, class: 'nav_links' %>
          </li>
        <% else %>
          <li id="login-link" class="navbar_links_li" data-hook>
            <%= link_to Spree.t(:login), spree.login_path, class: 'nav_links' %>
          </li>
        <% end -%>
        <li id="link-to-cart" class="navbar_links_li" data-hook>
          <noscript>
            <%= link_to Spree.t(:cart), '/cart', class: 'nav_links' %>
          </noscript>
          &nbsp;
        </li>
        <script>Spree.fetch_cart()</script>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>