<!DOCTYPE html>
<html lang="en-US" class="wf-opensans-i3-active wf-opensans-i4-active wf-opensans-i6-active wf-opensans-i7-active wf-opensans-i8-active wf-opensans-n3-active wf-opensans-n4-active wf-opensans-n6-active wf-opensans-n7-active wf-opensans-n8-active wf-active"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
      Kapitol Reef | Snorkeling Gear &amp; Equipment        </title>
    <link rel="shortcut icon" href="http://kapitolreef.com/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="http://kapitolreef.com/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://kapitolreef.com/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://kapitolreef.com/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://kapitolreef.com/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://kapitolreef.com/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://kapitolreef.com/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://kapitolreef.com/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://kapitolreef.com/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://kapitolreef.com/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="http://kapitolreef.com/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="http://kapitolreef.com/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="http://kapitolreef.com/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://kapitolreef.com/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://kapitolreef.com/favicon-32x32.png" sizes="32x32">
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag "html5.js" %>
    <![endif]-->
    <link rel="alternate" type="application/rss+xml" title="Kapitol Reef Feed" href="http://kapitolreef.com/feed/">

    <!--[if lt IE 9]>
        <%= stylesheet_link_tag "ie.css" %>
    <![endif]-->
    <%= stylesheet_link_tag "application" %>

    <script type="text/javascript">
      /* <![CDATA[ */
var shiftnav_data = {"shift_body":"on","lock_body":"on","lock_body_x":"off","swipe_close":"off","swipe_open":"off","swipe_tolerance_x":"150","swipe_tolerance_y":"60","swipe_edge_proximity":"80","open_current":"off","collapse_accordions":"off","scroll_panel":"on"};
/* ]]> */
    </script>

    <%= javascript_include_tag "application" %>

	<!-- ShiftNav CSS
	     ================================================================
      -->
	<style type="text/css" id="shiftnav-dynamic-css">

      #shiftnav-toggle-main{ background: #ffffff; color: #6d6d6d; }
	  @media only screen and (min-width:800pxpx){ #shiftnav-toggle-main{ display:none; } .shiftnav-wrap { padding-top:0 !important; } }
	  @media only screen and (max-width:799px){ #Header{ display:none !important; } }
	  #shiftnav-toggle-main{ font-size: 24px !important; }

	  /* Custom CSS Tweaks */
	  a.shiftnav-target {
      text-align: center;
      background-color: #f4f4f4;
      margin-top: 5px;
      }
      .shiftnav-menu-title{
      display: none;
      }
      nav.shiftnav-nav {
      margin-top: 20px;
      }
      @media screen and (min-width: 800px) {
      #shiftnav-toggle-main {
      display: none;
      }
      .shiftnav-wrap {
      padding-top: 0px !important;
      }
      }
	</style>
	<!-- end ShiftNav CSS -->

	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    <script>
      var __adobewebfontsappname__ = "reflow"
    </script>
    <link rel="stylesheet" href="http://use.edgefonts.net/c/5e783c/1w;open-sans,1,VvG:R:i3,VvD:R:i4,VvK:R:i6,Vv9:R:i7,VvC:R:i8,VvF:R:n3,VvH:R:n4,VvJ:R:n6,Vv8:R:n7,VvB:R:n8/d">
  </head>
  <body class="shiftnav-enabled shiftnav-lock" cz-shortcut-listen="true">
    <div class="shiftnav-wrap" style="padding-top: 63px;">
      <header>
        <div id="Header" class="clearfix">
          <%= link_to image_tag("Logo.png", id: "Logo", class: "image"), root_path %>
          <div id="Navbar" class="clearfix">
            <nav id="site-navigation" class="main-navigation" role="navigation" style="display: block; float: left;">
              <div class="menu-main-container"><ul id="menu-main" class="nav-menu"><li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a href="http://kapitolreef.com/faq/">FAQ</a></li>
                  <li id="menu-item-121" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-121"><a href="/store">Shop</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="Slider" class="clearfix">
          <!-- meta slider -->
          <div style="max-width: 400px; margin: 0 auto;" class="metaslider metaslider-flex metaslider-39 ml-slider">

            <div id="metaslider_container_39">
              <div id="metaslider_39" class="flexslider">
                <ul class="slides">
                  <li style="display: block; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; z-index: 1;" class="">
                    <%= image_tag "KR-SLIDE.png", height: "0", width: "400", alt: "", class: "slider-39 slide-127", draggable: "false" %>
                  </li>
                  <li style="display: block; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; z-index: 2;" class="flex-active-slide">
                    <%= image_tag "William-Trubridge-Testimonial-Image-1-e1415994315506.jpg", height: "0", width:"400", alt: "", class: "slider-39 slide-125", draggable: "false" %>
                  </li>
                  <li style="display: block; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; z-index: 1;">
                    <%= image_tag "Slide01.jpg", height: "0", width: "400", alt: "", class: "slider-39 slide-116", draggable: "false" %>
                  </li>
                  <li style="display: block; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; z-index: 1;">
                    <% image_tag "Slide05.jpg", height: "0", width:"400", alt: "", class: "slider-39 slide-117", draggable: "false" %>
                  </li>
                </ul>
                <ol class="flex-control-nav flex-control-paging">
                  <li>
                    <a class="">1</a>
                  </li>
                  <li>
                    <a class="flex-active">2</a>
                  </li>
                  <li>
                    <a>3</a>
                  </li>
                  <li>
                    <a>4</a>
                  </li>
                </ol>
                <ul class="flex-direction-nav">
                  <li>
                    <a class="flex-prev" href="http://kapitolreef.com/#">&lt;</a>
                  </li>
                  <li>
                    <a class="flex-next" href="http://kapitolreef.com/#">&gt;</a>
                  </li>
                </ul>
              </div>
            </div>
            <script type="text/javascript">
        var metaslider_39 = function($) {
            $('#metaslider_39').addClass('flexslider'); // theme/plugin conflict avoidance
            $('#metaslider_39').flexslider({
                slideshowSpeed:8000,
                animation:"fade",
                controlNav:true,
                directionNav:true,
                pauseOnHover:true,
                direction:"horizontal",
                reverse:false,
                animationSpeed:600,
                prevText:"&lt;",
                nextText:"&gt;",
                slideshow:true
            });
        };
        var timer_metaslider_39 = function() {
            var slider = !window.jQuery ? window.setTimeout(timer_metaslider_39, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_39, 1) : metaslider_39(window.jQuery);
        };
        timer_metaslider_39();
            </script>
          </div>
          <!--// meta slider-->
        </div>
        <div id="Social_Media" class="clearfix">
          <a href="http://instagram.com/kapitolreef" title="Read full post">
            <div id="Social_Box_1" class="clearfix">
              <div id="Image" class="clearfix" style="background-image: url('<%= image_path "1618312_10152478424669311_7117016639137980385_o.jpg" %>')">
              </div>
              <div id="Network3">
                From Instagram
                <br>
              </div>
              <p id="Title1">
                Kapitol Reef First Timer!        </p>
              <div id="p">
                4 year old Everett is a natural!            <br>
              </div>
            </div></a>
          <a href="https://www.youtube.com/user/kapitolreefaquatics" title="Read full post">
            <div id="Social_Box_2" class="clearfix">
              <div id="Image" class="clearfix" style="background-image: url('<%= image_path "smallbox3.png" %>')">
              </div>
              <div id="Network1">
                From Youtube
                <br>
              </div>
              <p id="Title1">
                Views from Mexico        </p>
              <div id="p">
                Did you know that when diving to 33 feet while holding your breath your lungs compress to HALF their normal size?            <br>
              </div>
            </div></a>
          <a href="https://twitter.com/KapitolReef" title="Read full post">
            <div id="Social_Box_3" class="clearfix">
              <div id="Image" class="clearfix" style="background-image: url('<%= image_path "smallbox2.png" %>')">
              </div>
              <div id="Network2">
                From Twitter<br>
              </div>
              <p id="Title1">
                See the Sea
              </p>
              <div id="p">
                Did you know that when diving to 33 feet while holding your breath your lungs compress to HALF their normal size?
                <br>
              </div>
            </div></a>
        </div>
        <div id="Container3" class="clearfix">
          <div id="Youtube_Video" class="clearfix">
            <%= link_to "https://www.youtube.com/watch?v=JAbfMMM2y4o", target: "_blank" do %>
              <%= image_tag "play-media.png", class: "image", id: "Play" %>
              <%= image_tag "maxresdefault.jpg", width: "100%", height: "100%" %>
            <% end %>
          </div>
          <div id="Reviews" class="clearfix">
            <div id="Header1" class="clearfix">
              <%= image_tag "Reviews.png", id: "Image3", class: "image" %>
            </div>
            <div id="ReviewBox">
              <div id="CommentBox" class="clearfix">
                <p id="Time">3 months ago</p>
                <div id="CommentInfo" class="clearfix">
                  <p id="Content">"Our kids used your snorkeling gear on their honeymoon in Playa del Carmen, Mexico  and they loved it! They were very impressed with your awesome snorkel! Keep up the good work."</p>
                  <p id="Author">Nikkii S., Salt Lake City, UT</p>
                </div>
              </div>
              <div id="CommentBox" class="clearfix">
                <p id="Time">3 months ago</p>
                <div id="CommentInfo" class="clearfix">
                  <p id="Content">"For breathing on the surface it is luxurious the Bentley of snorkels."</p>
                  <p id="Author">William Trubridge, Double World Champion Freediver</p>
                </div>
              </div>
            </div>
          </div>
</div>
          <div id="FeaturedContainer" class="clearfix">
            <div id="Featured" class="clearfix">
              <div id="Yellow" class="clearfix">
                <%= image_tag "FeatureText.png", id: "Image4", class: "image" %>
              </div>
            </div>
          </div>
          <!-- #main .wrapper -->
          <div id="Footer" class="clearfix">
            <p id="text">
              Copyright 2014. Kapitol Reef Aquatics. All rights reserved.
              <br>
            </p>
            <p id="text1">
              DEALER LOGIN | CONTACT US
              <br>
            </p>
            <div id="Social_Media_Links" class="clearfix">
              <a href="https://www.youtube.com/user/kapitolreefaquatics">
                <%= image_tag "youtube.png", id: "Youtube" %>
              </a>
              <a href="https://www.facebook.com/pages/Kapitol-Reef/142438789310">
                <%= image_tag "facebook.png", id: "Facebook" %>
              </a>
              <a href="https://twitter.com/KapitolReef">
                <%= image_tag "twitter.png", id: "Twitter" %>
              </a>
            </div>

          </div>
</div>

</div><div id="shiftnav-toggle-main" class="shiftnav-toggle shiftnav-toggle-shiftnav-main shiftnav-toggle-main-align-center shiftnav-toggle-edge-right shiftnav-toggle-icon-x shiftnav-toggle-main-align-center shiftnav-toggle-edge-right shiftnav-toggle-icon-x" data-shiftnav-target="shiftnav-main"><span class="shiftnav-main-toggle-content shiftnav-toggle-main-block"></span><a href="http://kapitolreef.com/index.php"><img id="Logo2" src="./Kapitol Reef   Snorkeling Gear & Equipment_files/Logo.png" class="image"></a></div><div class="shiftnav shiftnav-right-edge shiftnav-skin-light shiftnav-transition-standard" id="shiftnav-main" data-shiftnav-id="shiftnav-main">
		<div class="shiftnav-inner">
			<h3 class="shiftnav-menu-title shiftnav-site-title"><a href="/">Kapitol Reef</a></h3>
	<nav class="shiftnav-nav"><ul id="menu-mobile" class="shiftnav-menu shiftnav-targets-large shiftnav-targets-text-large shiftnav-targets-icon-default"><li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122 shiftnav-depth-0"><a class="shiftnav-target" href="/">Home</a></li><li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-95 shiftnav-depth-0 shiftnav-has-icon"><a class="shiftnav-target" href="/store"><i class="shiftnav-icon fa fa-shopping-cart"></i><span class="shiftnav-target-text">Shop</span></a></li><li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93 shiftnav-depth-0 shiftnav-has-icon"><a class="shiftnav-target" href="http://kapitolreef.com/faq/"><i class="shiftnav-icon fa fa-question"></i><span class="shiftnav-target-text">FAQ</span></a></li></ul></nav>		</div><!-- /.shiftnav-inner -->
	</div><style>.tb_button {padding:1px;cursor:pointer;border-right: 1px solid #8b8b8b;border-left: 1px solid #FFF;border-bottom: 1px solid #fff;}.tb_button.hover {borer:2px outset #def; background-color: #f8f8f8 !important;}.ws_toolbar {z-index:100000} .ws_toolbar .ws_tb_btn {cursor:pointer;border:1px solid #555;padding:3px}   .tb_highlight{background-color:yellow} .tb_hide {visibility:hidden} .ws_toolbar img {padding:2px;margin:0px}</style></body></html>
